body {
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 50px;
}

h1{
    color: #333333;
}

img {
    width: 100px;
    height: 100px;
}